<div class="spacer"></div>

<div class="container-sm" *ngIf="drugValues.fields">
  <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
    <div class="row" *ngFor="let item of drugValues.fields">
      <div class="col-md-6">
        {{item.label}}
      </div>
      <div class="col-md-6">
        <span *ngIf="item.type === 'date'">
          <input class="form-control" matInput [matDatepicker]="picker" [formControlName]="item.key" [required]="true">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </span>

        <span *ngIf="item.type === 'dropdown'">
          <select class="form-select" [formControlName]="item.key" aria-placeholder="Select Gender" required>
            <option *ngFor="let dropitems of item.items" value="{{dropitems.value}}">{{dropitems.text}}</option>
          </select>
        </span>

        <span *ngIf="item.type === 'number'">
          <input class="form-control-padded" matInput [type]="item.type" [formControlName]="item.key"
            [readonly]="item.key === 'bmi'" [required]="true" /> {{ item.unit}}
        </span>
      </div>
    </div>
    <br>
    <button class="btn btn-primary" style="float:right" type="submit" [disabled]="!dynamicForm.valid">Submit</button>
  </form>
</div>

<br>
<div class="container">

  <table class="table table-striped" *ngIf="showTables">
    <thead>
      <tr>
        <th scope="col" *ngFor="let item of drugValues.fields">{{item.label}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td *ngFor="let value of submittedArr">{{value}}</td>
      </tr>
    </tbody>
  </table>

</div>
